
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">

        <!-- Links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Update 24x7 </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/news/sports">Sports</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/news/aboutus">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/news/contactus">Contact Us</a>
            </li>
        </ul>
    </nav>

